
{% load crispy_forms_tags %}

{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Social</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>


<div class="container mt-4 mb-4">
    <div class="row mt-4 mb-4">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-4 mb-4">
            <h1 class="mt-4 mb-4">Password reset complete</h1>
            <p class="mt-4 mb-4">Your new password has been set. You can log in now on the <a href="{% url 'login' %}"> Login page</a>.</p>



        </div>
        <div class="col-md-2"></div>
    </div>
</div>


</body>

</html>